<h1>Admin Dashboard</h1>
<h2> Total number of products in DB: <%= @total_products %> </h2>
<h2> Total number of categories in DB: <%= @total_categories %> </h2>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
